In [1]:
import sys
import surprise
import pandas as pd
import numpy as np

In [2]:
# Parameter

# top k items to recommend 
TOP_K = 10

# Movielens data path
RATING_PATH = 'dataset-movielens/u.data'
ITEMS_PATH  = 'dataset-movielens/u.item'
USERS_PATH  = 'dataset-movielens/u.user'

In [3]:
# Load data

user_columns = [ 'userID', 'age', 'gender', 'occupation', 'zipCode' ]
rating_columns = [ 'userID', 'itemID', 'rating', 'timestamp' ]

user = pd.read_csv(USERS_PATH, sep='|', encoding='latin-1')
user.columns = user_columns

rating = pd.read_csv(RATING_PATH, sep='\t', encoding='latin-1')
rating.columns = rating_columns

dataframe = pd.merge( user, rating, on='userID', how='inner' )
dataframe.drop(['age', 'gender', 'zipCode', 'timestamp'], axis=1, inplace=True)

dataframe.drop ( 'occupation', axis=1, inplace=True )
dataframe.head ()

   userID  itemID  rating
0       2     292       4
1       2     251       5
2       2      50       5
3       2     314       1
4       2     297       4

In [4]:
percentage = 0.75

value = int ( len( dataframe ) * percentage )
print( f"""
DATAFRAME: { len( dataframe ) }
VALUE:     { value }
""" )

index = np.random.permutation ( range ( len(dataframe) ) ) 
dataframe_randomized = dataframe.iloc[ index ]


print ( dataframe )

print ( dataframe_randomized )

trainset = dataframe_randomized.iloc [ :value ]
testset  = dataframe_randomized.iloc [ value: ]

DATAFRAME: 99727
VALUE:     74795

       userID  itemID  rating
0           2     292       4
1           2     251       5
2           2      50       5
3           2     314       1
4           2     297       4
...       ...     ...     ...
99722     943     415       1
99723     943     219       4
99724     943     796       3
99725     943     739       4
99726     943     391       2

[99727 rows x 3 columns]
       userID  itemID  rating
27939     279    1032       3
7010       68     118       2
46467     416     843       3
24486     251     535       3
42605     391      98       4
...       ...     ...     ...
33542     313     489       4
16344     174     286       5
63165     563     862       1
12662     125     163       5
95184     896     302       2

[99727 rows x 3 columns]

In [21]:

print ( trainset )

print ( testset )

       userID  itemID  rating
84756     796      12       5
54605     487     255       2
97016     916     931       1
75778     697     682       2
26304     269     293       3
...       ...     ...     ...
62362     554       7       3
11875     115     471       2
53364     474      73       3
40532     378    1478       3
47845     429     591       3

[74795 rows x 3 columns]
       userID  itemID  rating
21181     220     325       1
73108     663    1327       4
77954     717     268       5
71037     650      29       2
30875     298     174       5
...       ...     ...     ...
2217       15     927       4
22951     234      52       4
13030     128     202       2
4574       44     118       3
60009     536     474       5

[24932 rows x 3 columns]

In [23]:
movieset = surprise.Dataset.load_from_df ( 
  trainset, reader=surprise.Reader ( 'ml-100k' )
).build_full_trainset()
movieset

In [24]:
svd = surprise.SVD (
  random_state = 0,
  n_factors = 200,
  n_epochs = 30,
  verbose = True
)
svd.fit ( movieset )

Processing epoch 0
Processing epoch 1
Processing epoch 2
Processing epoch 3
Processing epoch 4
Processing epoch 5
Processing epoch 6
Processing epoch 7
Processing epoch 8
Processing epoch 9
Processing epoch 10
Processing epoch 11
Processing epoch 12
Processing epoch 13
Processing epoch 14
Processing epoch 15
Processing epoch 16
Processing epoch 17
Processing epoch 18
Processing epoch 19
Processing epoch 20
Processing epoch 21
Processing epoch 22
Processing epoch 23
Processing epoch 24
Processing epoch 25
Processing epoch 26
Processing epoch 27
Processing epoch 28
Processing epoch 29

In [ ]:
# Prediction de testset con usercol=userID y itemcol=itemID
def