# Importaciones para los sistemas de recomendación

In [8]:
import pandas as pd
import numpy as np  
from sklearn.metrics.pairwise import cosine_similarity 
from surprise import Dataset, Reader, SVD
from surprise.model_selection import GridSearchCV

# Similitud Coseno

$$ sim(x,y) = \frac{x \cdot y}{ ||x|| \cdot ||y|| } $$

In [3]:
person_1 = [ 5,4,4 ]
person_2 = [ 4,5,5 ]

cosine_similarity ( [person_1, person_2] )

array([[1.        , 0.97823198],
       [0.97823198, 1.        ]])

# Descargando la base de datos 

https://files.grouplens.org/datasets/movielens/

Principalmente el de ml-100k

# Work with database

In [4]:
mlens = pd.read_csv("u.data", sep='\t', header=None)
mlens.columns = [ 'user_id', 'item_id', 'rating', 'timestamp' ]

In [7]:
mlens.sample(5)

       user_id  item_id  rating
63366      653      179       4
40990      463      477       2
83519      301      226       5
68196      836      134       3
3173        56      194       5

In [6]:
mlens = mlens.drop('timestamp', axis=1)

El paquete `surprise` no recibe directamente un objeto DataFrame sino que tiene que parsear y leer un conjunto de datos debe hacerlo a través de dos nuevos objetos: Reader y Dataset. 
- En Reader debemos especificar el valor mínimo y el valor máximo de los ratings
- Dataset nos permite leer datos desde distintas fuentes

In [9]:
reader = Reader ( rating_scale=( mlens['rating'].min(), mlens['rating'].max() ) )
dataset = Dataset.load_from_df( df=mlens, reader=reader )

In [10]:
dataset